html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body{
    background-color:rgb(238, 238, 238);
}

header, div.content{
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}

div.content{
    background-color: white;
    margin:1em;
}

header{
    background-color:rgb(54, 91, 92)
}

nav a:link{
    color:white;
}

nav a:hover {
    color:darkgray;
}

nav a:visited{
    color:rgb(206, 245, 245)
}

header nav{
    text-align: right;
    padding: 0.5em;
}


h1{
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: bold;
    padding: 0.5em;
}

p {
    font-family: "Arial", Helvetica, sans-serif;
}

#blog-post p{
    margin-bottom: 0.5em;

}

img{
    padding:0.5em;
}