html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body{
    background-color:rgb(220, 220, 220);
    font-family: "Arial", Helvetica, sans-serif;
}


header, div.content{
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}

div.content{
    background-color: white;
    margin-bottom:2em;
    padding-bottom:1em;
}

header{
    background-color:rgb(54, 91, 92);
    position: sticky;
    top:0;
}

.paragraphs{
    display:flex;
}

nav a:link{
    color:white;
}

nav a:hover {
    color:darkgray;
}

nav a:visited{
    color:rgb(206, 245, 245)
}

header nav{
    text-align: right;
    padding: 0.5em;
    color: white;
    background-color: rgb(54, 91, 92);
}


h1{
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: bold;
    padding: 0.5em;
}


div.content p{
    margin: 0 1em 0.5em 1em;
}

h2{
    font-size: 1.5em;
    margin: 0 0 0.5em 0.66em;
}

#sign-up, table{
    margin-left: 1em;
}

h3{
    font-size: 1.25em;
    margin: 0 0 0.5em 0.8em;
}

th{
    text-align: left;
    background-color: rgb(220, 220, 220);
}

td{
    text-align: center;
    margin: 0.25em 0.5em 0 0;
}

td.exercise{
    text-align: left;
}

#sign-up, #contact{
    padding-top: 1em;
}

#contact {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

img{
    margin:1.5em 0 0.5em 0;
}

ul{
    margin: 0 0 1em 2.5em;

}